--indent 2
--swiftversion 6.0
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--commas inline
--semicolons never
--trimwhitespace always
--header strip
--exclude .tuist-bin,.build,Tuist
